---
const { refs } = Astro.props;
const entries = Object.entries(refs);
---

<section class="references">
  <h3>References</h3>
  <table>
    {entries.map(([key, r], i) => (
      <tr id={`ref-${key}`}>
        <td class="ref-num">[{i + 1}]</td>
        <td>
          {r.author} ({r.year}). <em>{r.title}</em>
          {r.journal && `. ${r.journal}`}
          {r.volume && `, ${r.volume}`}
          {r.pages && `, pp. ${r.pages}`}
          {r.publisher && `. ${r.publisher}`}.
        </td>
      </tr>
    ))}
  </table>
</section>
